* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela {
    width: 100%;
    height: 100vh;
    background-color: #3084f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #fff;
    gap: 15px;
    padding: 6px 0;
}

h2 {
    font-size: 20px;
    color: #000;
}

.botao {
    font-size: 20px;
    color: #000;
    padding: 20px 30px;
    border: 1px solid #000;
    background-color: #FF0707;
    border-radius: 30px;
    cursor: pointer;
}
